@mixin like-animation_hover {
  font-weight: bold;
  background: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
  // background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@mixin like-animation {
  animation: like-anim-out ease 0.5s;
  &:hover {
    cursor: pointer;
    @include like-animation_hover;
    animation: like-anim-in ease 0.7s;
  }
}
@keyframes like-anim-in {
  0% {
    opacity: 0;
  }
  100% {
    @include like-animation_hover;
    opacity: 1;
  }
}
@keyframes like-anim-out {
  0% {
    @include like-animation_hover;
    opacity: 1;
  }
  100% {
    @include like-animation_hover;
    opacity: 0;
  }
}
@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@mixin green-block {
  content: "";
  position: absolute;
  right: 0;
  margin-bottom: 1.5rem;
  height: 6.45rem;
  width: 5.9rem;
  background-color: $color-tertiary;
  border-radius: 0 1.5rem 1.5rem 0;
  animation: slide-right-green-block 0.3s 0.1s both;
}

@keyframes slide-right-green-block {
  0% {
    width: 0;
  }
  100% {
    width: 5.9rem;
  }
}
