@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand:wght@300;400;500;700");
@keyframes like-anim-in {
  0% {
    opacity: 0;
  }
  100% {
    font-weight: bold;
    background: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
  }
}
@keyframes like-anim-out {
  0% {
    font-weight: bold;
    background: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
  }
  100% {
    font-weight: bold;
    background: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
  }
}
@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slide-right-green-block {
  0% {
    width: 0;
  }
  100% {
    width: 5.9rem;
  }
}
@keyframes slide-right-green-block-check {
  0% {
    width: 0;
  }
  100% {
    width: 2rem;
  }
}
/*----------------- RESET ---------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  background: none;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.7rem;
}

a {
  text-decoration: none;
  color: #000;
}

/*------------------- FONT-FAMILY -------------------*/
section {
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1080px;
}

body {
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 3rem;
}

h2 {
  font-family: "Shrikhand", cursive;
  font-size: 2.8rem;
  font-weight: 400;
}

h3 {
  font-size: 2.4rem;
  font-weight: 700;
}

h4 {
  font-size: 1.8rem;
  font-weight: 700;
}

p {
  font-weight: 300;
}

.btn-main {
  font-size: 1.6rem;
  font-weight: 500;
  color: #fff;
  background: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
  padding: 1.4rem 2rem;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  animation: btn-main-animation-out 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.btn-main:hover {
  animation: btn-main-animation 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes btn-main-animation {
  to {
    box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.35);
    opacity: 0.85;
  }
}
@keyframes btn-main-animation-out {
  from {
    box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.35);
    opacity: 0.85;
  }
  to {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    opacity: 1;
  }
}
.hero {
  background: #f6f6f6;
}
.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem 6.5rem 2rem;
}
@media (min-width: 1080px) {
  .hero-container {
    padding: 4rem 0 3.5rem 0;
  }
}
.hero-title {
  margin-bottom: 1.4rem;
  text-align: center;
  padding: 0 10vw;
}
@media (min-width: 1080px) {
  .hero-title {
    font-size: 4rem;
  }
}
.hero-subtitle {
  margin-bottom: 3rem;
  text-align: center;
  font-size: 1.8rem;
  padding: 0 3vw;
  color: #353535;
}
@media (min-width: 1080px) {
  .hero-subtitle {
    margin-top: 1.5rem;
  }
}

.hero-image-img {
  width: 100%;
  height: 100%;
  min-height: 27.5rem;
  max-height: 40rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.fonctionnement-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 5rem 2rem 7rem 2rem;
}
@media (min-width: 1080px) {
  .fonctionnement-container {
    padding: 5rem 0 6rem 0;
  }
}
.fonctionnement-list {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin: 0 0 0 1rem;
}
@media (min-width: 1080px) {
  .fonctionnement-list {
    flex-direction: row;
    gap: 4rem;
  }
}
.fonctionnement-item {
  display: flex;
  flex-direction: row;
  background-color: #f6f6f6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 2.5rem 3.8rem 2.5rem 0;
  gap: 2rem;
}
@media (min-width: 1080px) {
  .fonctionnement-item {
    flex: 1 1 33%;
  }
}
.fonctionnement-item i {
  color: #7e7e7e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fonctionnement-item:hover {
  cursor: pointer;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.5s ease-in-out;
}
.fonctionnement-item:hover i {
  transition: all 0.5s ease-in-out;
  color: #9356dc;
}
.fonctionnement-item p {
  font-size: 1.6rem;
  font-weight: 500;
  display: flex;
  align-items: flex-end;
}
.fonctionnement-item::before {
  content: "1";
  color: #fff;
  background: #9356dc;
  z-index: 9;
  position: relative;
  left: -1.3rem;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 500;
}
.fonctionnement-item:nth-child(2)::before {
  content: "2";
}
.fonctionnement-item:nth-child(3)::before {
  content: "3";
}

.restaurants {
  background-color: #f6f6f6;
}
.restaurants-container {
  display: flex;
  flex-direction: column;
  padding: 5rem 2rem 8rem 2rem;
}
@media (min-width: 1080px) {
  .restaurants-container {
    padding: 5rem 0 8rem 0;
  }
}
.restaurants-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 2rem;
}
@media (min-width: 1080px) {
  .restaurants-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem 9rem;
  }
}
.restaurants-list .restaurants-item {
  position: relative;
  width: 100%;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
@media (min-width: 1080px) {
  .restaurants-list .restaurants-item {
    flex: 1 1 40%;
  }
}
.restaurants-list .restaurants-item-img img {
  width: 100%;
  height: 45vw;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}
@media (min-width: 1024px) {
  .restaurants-list .restaurants-item-img img {
    height: 20rem;
  }
}
.restaurants-list .restaurants-item-content {
  padding: 1.6rem 1.3rem 1.6rem 1.3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.restaurants-list .restaurants-item-content-subtitle {
  font-size: 1.7rem;
}
.restaurants-list .restaurants-item-content-like {
  margin-right: 1.3rem;
}
.restaurants-list .restaurants-item-content-like i {
  color: #000;
  height: 25.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: like-anim-out ease 0.5s;
}
.restaurants-list .restaurants-item-content-like i:hover {
  cursor: pointer;
  font-weight: bold;
  background: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: like-anim-in ease 0.7s;
}
.restaurants-list .restaurants-item:nth-child(1):before, .restaurants-list .restaurants-item:nth-child(2):before {
  content: "Nouveau";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  background: #99e2d0;
  font-size: 1.4rem;
  font-weight: 500;
  color: #008766;
  width: 8rem;
  height: 2.9rem;
  margin: 1.5rem;
}
.restaurants-list .restaurants-item:first-child {
  animation: slide-down 1s 0.3s both;
}
.restaurants-list .restaurants-item:nth-child(2) {
  animation: slide-down 1s 0.6s both;
}
.restaurants-list .restaurants-item:nth-child(3) {
  animation: slide-down 1s 0.9s both;
}
.restaurants-list .restaurants-item:nth-child(4) {
  animation: slide-down 1s 1.2s both;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  position: relative;
  top: -4rem;
  border-radius: 3.5rem 3.5rem 0 0;
  padding: 2rem 1.5rem 4rem 1.5rem;
  gap: 3rem;
  margin-bottom: -3.5rem;
  width: 100%;
  max-width: 105.5rem;
  align-self: center;
}
.menu-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4rem;
  margin: 1rem 0;
}
.menu-title h1 {
  font-size: 2.8rem;
  font-weight: 400;
}
.menu-title i {
  color: #000;
  height: 25.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.7rem;
  animation: like-anim-out ease 0.5s;
}
.menu-title i:hover {
  cursor: pointer;
  font-weight: bold;
  background: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: like-anim-in ease 0.7s;
}
.menu-container {
  width: 100%;
  max-width: 65rem;
}
.menu-container-title {
  font-size: 1.6rem;
  font-weight: 300;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 0.7rem;
  margin-bottom: 1.2rem;
}
.menu-container-item {
  background-color: #fff;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 1.5rem;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
}
.menu-container-item:hover .menu-container-item-content {
  max-width: 70%;
}
.menu-container-item-content {
  padding: 1.3rem 1.5rem;
  max-width: 90%;
}
.menu-container-item-title {
  font-size: 1.8rem;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu-container-item-description {
  font-size: 1.5rem;
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu-container-item-price {
  padding: 1.3rem 1.5rem 1.3rem 0;
  display: flex;
  align-items: end;
}
.menu-container-item-price-text {
  font-size: 1.5rem;
  font-weight: 700;
}
.menu-container-item-content2 {
  display: flex;
  flex-direction: row;
}
.menu-container-item-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6.45rem;
  width: 0;
  background-color: #99e2d0;
  border-radius: 0 1.5rem 1.5rem 0;
}
.menu-container-item-slider i {
  color: #99e2d0;
  width: 0;
  height: 2rem;
  overflow: hidden;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-container-item:hover .menu-container-item-slider {
  animation: slide-right-green-block 0.3s 0.1s both;
}
.menu-container-item:hover .menu-container-item-slider i {
  animation: slide-right-green-block-check 0.3s 0.1s both;
}
.menu-container:nth-child(2) {
  animation: slide-down 1s 0.3s both;
}
.menu-container:nth-child(3) {
  animation: slide-down 1s 0.6s both;
}
.menu-container:nth-child(4) {
  animation: slide-down 1s 0.9s both;
}
.menu-button {
  padding: 1.6rem 4.8rem;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.6);
  z-index: 9;
}

.loader {
  height: 25px;
  width: 250px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.loader--dot {
  animation: loader 3s infinite;
  height: 25px;
  width: 25px;
  border-radius: 100%;
  position: absolute;
}
.loader--dot:first-child {
  background-color: #9356dc;
  animation-delay: 0.5s;
}
.loader--dot:nth-child(2) {
  background-color: #ff79da;
  animation-delay: 0.4s;
}
.loader--dot:nth-child(3) {
  background-color: #99e2d0;
  animation-delay: 0.3s;
}
.loader--dot:nth-child(4) {
  background-color: #9356dc;
  animation-delay: 0.2s;
}
.loader--dot:nth-child(5) {
  background-color: #ff79da;
  animation-delay: 0.1s;
}
.loader--dot:nth-child(6) {
  background-color: #99e2d0;
  animation-delay: 0s;
}
.loader--text {
  position: absolute;
  top: 150%;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
  font-family: Shrikhand;
  font-size: 3rem;
}

@keyframes loader {
  15% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(225px);
  }
  65% {
    transform: translateX(225px);
  }
  95% {
    transform: translateX(0);
  }
}
.hide {
  animation: hide 0s 3s both;
}

@keyframes hide {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
  }
}
header .header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6.3rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
@media (min-width: 1024px) {
  header .header-nav {
    padding: 5rem 0;
  }
}
@media (min-width: 1080px) {
  header .header-logo {
    font-size: 3.7rem;
  }
}
header .header-arrow {
  position: absolute;
  left: 2.5vw;
}
@media (max-width: 1080px) {
  header .header-arrow {
    left: 2.5rem;
  }
}
header .location-bar {
  height: 4.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  gap: 1.7rem;
  margin-top: 0.4rem;
  padding-bottom: 0.2rem;
}
header .location-bar .location-title {
  font-size: 1.6rem;
  font-weight: 400;
}
header .location-bar i {
  color: #353535;
}
header .no-shadow {
  box-shadow: none;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding: 2.2rem 2.5rem;
  gap: 1.6rem;
}
@media (min-width: 1080px) {
  .footer {
    flex-direction: row-reverse;
    gap: 10rem;
    padding-right: 10vw;
    padding-top: 6rem;
  }
}
.footer-logo {
  font-family: "Shrikhand", cursive;
  font-size: 1.8rem;
  font-weight: 400;
  color: #fff;
}
.footer-list {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
@media (min-width: 1080px) {
  .footer-list {
    flex-direction: row;
    justify-content: space-between;
    gap: 4rem;
  }
}
.footer-item {
  font-size: 1.6rem;
  font-weight: 300;
  color: #fff;
}
.footer .with-icon {
  display: flex;
  gap: 0.7rem;
}
.footer i {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=styles.css.map */