header {
  .header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6.3rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    // box-shadow: 0px 6px 15px 8px #000000
  }
  .location-bar {
    height: 4.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-bg-1;
    gap: 1.7rem;
    margin-top: 0.4rem;
    padding-bottom: 0.2rem;
    .location-title {
        font-size: 1.6rem;
        font-weight: 400;
    }
    i {
        color: $color-bg-3;
    }
  }
}
